.black-footer {
    background-color: #111111;
    color: #ffffff;
    padding: 50px;
    margin-top: 200px;
    /* border-radius: 50% / 30px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; */
}

.company-name {
    color: #90CAF9;
}

.footer-left {
    float: left;
    width: 60%;

}

.footer-left img {
    width: 10%;
}

.footer-left .social-icons {
    display: flex;
    gap: 10px;
    position: relative;
}

.footer-left .social-icons a img {
    width: 25px;
}

.social-container {
    position: relative;
    width: 25px;
    display: flex;
    color: #909090;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s ease-in;

}

.social-container img {
    position: absolute;
    width: 25px;
    opacity: 1;
    padding-top: 3px;
    transition: all 0.8s ease;
    border-radius: 5px;
}

.social_image.white {
    opacity: 0;
}



.social-container:hover .social_image.blue {
    opacity: 0;
}

.social-container:hover .social_image.white {
    opacity: 1;
}

.footer-left .social-icons .threads.social-container:hover img {
    background-color: white;
}


.company-quote {
    margin: 0;
    font-size: 18px;
    color: white;
}

.phone-number {
    margin-top: 5px;
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
}
.phone-number img{
    width: 20px;
}

.footer-right {
    float: right;
    width: 40%;
    text-align: right;
    display: flex;
    justify-content:flex-end;
}

.quick-links-title {
    margin: 0;
    font-size: 16px;
}

.quick-links {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.quick-links li {
    margin-bottom: 5px;
}

.quick-links li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.2s ease;
}

.quick-links li a:hover {
    color: #2E7D32;
}

.footer-bottom {
    clear: both;
    text-align: center;
    margin-top: 20px;
    
}
.footer-bottom .location img{
    width: 30px; 
    margin-right: 10px;
}
.footer-bottom p{
    color: white;
}

.company-name {
    margin: 0;
    font-size: 14px;
    color: #90CAF9;
}
  


@media (max-width: 768px){
    .black-footer {
        padding: 10px;
      }
    
      .footer-left,
      .footer-right {
        float: none;
        width: 100%;
        text-align: center;
        flex-direction: column;
      }
    
      .footer-left .social-icons {
        justify-content: center;
      }
    
      .footer-left .social-icons a img {
        width: 20px;
      }
    
      .company-quote {
        font-size: 16px;
      }
    
      .phone-number {
        font-size: 12px;
      }
    
      .quick-links-title {
        font-size: 14px;
      }
    
      .quick-links li a {
        font-size: 12px;
      }
    
      footer .company-name {
        font-size: 12px;
      }
}